@import "../../lib/variables.scss";
.search {
	width: 621.94px;
	height: 37.07px;
	border-radius: 19px;
	background-color: #fff;
	box-shadow: 0px 10px 30px rgba(0, 96, 206, 0.05);

	display: flex;
	align-items: center;
	justify-content: space-between;

	&__input {
		border: none;
		outline: none;
		width: 85%;
		margin-left: 24.01px;
		font-weight: 500;
		font-size: 1.2727rem;
		line-height: 17px;
		color: $gray;
	}

	&__button {
		background: $purple;
		padding: 10px 18px 10px 18px;
		border-radius: 19px;

		svg {
			width: 17.07px;
			height: 17.07px;
		}
	}
}
